<h2>Charities</h2>
<ul class='charities'>
  <li *ngFor='let charity of charities' (click)="onSelect(charity)">
    <button type="button" class="charity-button" value="{{charity.ABN}}" >{{charity.LegalName | uppercase}}</button>
  </li>
</ul>
<app-charity-details [charity]="selectedCharity"></app-charity-details>
