<div *ngIf="charity">

    <h2>{{charity.LegalName | uppercase}} Details</h2>
    <div>
      <label>Legal Name: {{charity.LegalName}}
      </label>
    </div>
    <div><span>ABN: </span>{{charity.ABN}}</div>
  </div>
