
<h2>Categories</h2>
<div class="grid grid-pad">
  <a *ngFor="let category of categories" class="col-1-4">
    <div class="module category" (onclick)="getCharitiesByCategory(category.data)">
      <h4>{{category.title}}</h4>
    </div>
  </a>
</div>
