h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  text-align: center;
  margin: 10px;
}

.nav-container {
  margin: 10px;
}

.menu-button {
  margin: 3px 5px 3px 5px;
  background: #72B43E;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}

.menu-button:hover {
  background-color: #5DAD3E;
  padding: 7px;
  margin: 3px;
  border-radius: 4px;
}
