<!-- <app-messages></app-messages> -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="75" alt="Angular Logo" src="../assets/images/give-local-logo.png">
  <nav class="nav-container">
      <a routerLink="/dashboard" class="menu-button">Dashboard</a>
      <a routerLink="/categories" class="menu-button">Categories</a>
      <a routerLink="/charities" class="menu-button">Charities</a>
    </nav>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>

