[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 75%;
}
.col-1-1 {
  width: 100%;
}
.search-text-box {
  font-size: large;
  padding: 4px;
  width: 400px;
  border-right: none;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-button {
  height: 31px;
  position: absolute;
  border-left: none;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #0176be;
  color: white;
  font-weight: bold;
}
