<div class="col-1-1">
  <h2>Search or browse for Registered Charities</h2>
  <input type="text" id="searchText" placeholder="Search..." class="search-text-box" />
  <button type="button" id="searchButton" class="search-button" title="Search">Search</button>
</div>
<div class="col-3-4">
  <app-categories></app-categories>
</div>
<div class="col-1-4">

</div>


